@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
:root {
  // Primary
  --Scissors-Gradient: linear-gradient(
    90deg,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --Paper-Gradient: linear-gradient(
    90deg,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
  --Rock-Gradient: linear-gradient(
    90deg,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  --Lizard-Gradient: linear-gradient(
    90deg,
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
  --Cyan: linear-gradient(90deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  // --Neutral-
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);

  --Header-Outline: hsl(217, 16%, 45%);

  // --Background-
  --Radial-Gradient: linear-gradient(
    180deg,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  // --Fonts-
  --Family: 'Barlow Semi Condensed';
  --Weight1: 600;
  --Weight2: 700;
}

body {
  background-image: var(--Radial-Gradient);
  font-family: var(--Family);
  font-weight: var(--Weight2);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
